<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POS_SH.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="POS_SH.My.MySettings.POS_SH" connectionString="Provider=Microsoft.Ace.OLEDB.12.0;Data Source=C:\Programas_SH\POS_SH\POS_SH.mdb;Persist Security Info=True;Jet OLEDB:Database Password=POS_SH"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <POS_SH.My.MySettings>
            <setting name="POS_SH_LOCAL" serializeAs="String">
                <value>Provider=Microsoft.Ace.OLEDB.12.0;Data Source=C:\Programas_SH\POS_SH\POS_SH.mdb;Persist Security Info=True;Jet OLEDB:Database Password=POS_SH</value>
            </setting>
            <setting name="POS_SH_RED" serializeAs="String">
                <value>Provider=Microsoft.Ace.OLEDB.12.0;Data Source=\\SERVER-POSSH\POS_SH\POS_SH.mdb;Persist Security Info=True;Jet OLEDB:Database Password=POS_SH</value>
            </setting>
        </POS_SH.My.MySettings>
    </userSettings>
</configuration>
